
.calcApp
{
    width: 270px;
    height: 430px;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px #000;
    // border: 5px solid rgb(255, 153, 0);
    background: #000000;

    .screen
    {
        width: 95%;
        height: 40px;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 10px;
        font-size: 20px;
        border-radius: 4px;
        background: #000;
        border: 3px solid white;
        box-sizing: border-box;
        color: white;
        text-align: center;
    }

    button
    {
        width: 50px;
        height: 50px;
        padding: 0px;
        margin: 3px;
        background: rgb(92, 92, 92);
        border-radius: 5px;
        border: 2px solid white;
        box-sizing: border-box;
        color: white;
        font-size: 16px;
        font-weight: bolder;
        outline: none;
        transition: .5s;
        cursor: pointer;
        text-align: center;
    }

    #←, #zero
    {
        width: 110px;
        height: 50px;
        border-radius: 5px;
    }
    
    #plus, #minus, #multiply, #divide, #equals,
    #sin, #cos, #tan, #exp, #log, #reverse, #facto, #module, #pow, #sqrt
    {
      background: rgb(10, 60, 153);
    }
    
    button:hover
    {
        transform: scale(1.08);
        border: 3px solid rgb(0, 0, 0);
        background: rgb(255, 251, 0);
        color: #000;
        transition: .5s;
    }

    .modeCalc
    {
        position: relative;
        display: flex;
        flex-direction: row;
    }
    
    h1
    {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
    }
    
    /* SWITCH */
    
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin: 5px 20px 0 35px;

        input {
            opacity: 0;
            width: 0;
            height: 0;
          }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }
          
        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }
          
        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
          
        .slider.round {
            border-radius: 34px;
        }
          
        .slider.round:before {
            border-radius: 50%;
        }

      }

}