
.calendarApp
{
    display: block;

    .calendarContent
    {
        width: 350px;
        height: 330px;
        margin: 10px;
        border-radius: 10px;
        border: none;
        box-shadow: 0 0 10px #000;
        background: #242525;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0px;

        .calendarButtons
        {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            width: 100%;
            height: 50px;
            color: #000;
            background-color: rgb(27, 101, 212);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
    
            i, select
            {
                margin-top: 10px;
                font-size: 18px;
                font-weight: bolder;
                cursor: pointer;

                &:hover
                {
                    color: #fff;
                }
            }

            select
            {
                width: 120px;
                background-color: transparent;
                border: none;
                color: #000;
                
                option
                {
                    background-color: rgb(27, 101, 212);
                    color: #fff;
                    background-color: #000;
                    font-size: 15px;
                    font-weight: bold;
                }
            }

            input[type=number]
            {
                width: 70px;
                display: block;
                margin-top: 10px;
                border: none;
                background: none;
                color: #000;
                font-size: 18px;
                font-style: normal;
                font-weight: bolder;
                cursor: pointer;

                &:hover
                {
                    color: #fff;
                }
            }

            #month
            {
                display: none;
            }

            #year
            {
                display: none;
            }
        }
        
        .calendarWeeks
        {
            width: 100%;
            height: 30px;
            color: #000;
            background-color: rgb(27, 101, 212);
            margin-bottom: 15px;
            box-shadow: 0px 9px 10px #000;

            
            .calendarDays
            {
                width: 70%;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                font-weight: bolder;

                .calendarDay
                {
                    margin-left: 21px;
                }
            }
        }

        .calendarDate
        {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 15px;
            font-weight: bolder;

            p
            {
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                color: #fff;
                border-radius: 5px;
                margin: 0 3px 0 4px;
                cursor: pointer;

                &:hover
                {
                    background-color: rgb(27, 101, 212);
                    color: #fff;
                }
            }

            .current
            {
                background-color: rgb(27, 101, 212);
                color: #fff;
            }

            .ghostDay
            {
                opacity: .5;
            }
        }

    }

}