
.appTodo
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  display:grid;
  grid-template-columns: repeat(4,0fr);
  width: 1000px;
  height: 360px;
  // border: 5px solid rgb(255, 153, 0);

  h3
  {
    text-align: center;
    font-size: 20px;
  }

  ul
  {
    list-style:none
  }

  li
  {
    margin: 10px;
    padding: 20px 0 20px 0;
    border-radius: 3px;
    width: 280px;
    box-shadow: 0 0 5px #000;
  }
  
  input, textarea
  { 
    font-size: 15px;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
  }
  
  textarea
  {
    height: 50px;
  }
  
  label
  {
    font-size: 15px;
    margin-left: 10px;
  }
  
  li label
  {
    background: rgb(255, 255, 255);
    border-radius: 3px;
  }
  
  p
  {
    background: white;
    border-radius: 3px;
    width: 250px;
    font-size: 15px;
    margin-left: 10px;
  }

  .addTask, 
  .todo, 
  .doing, 
  .done
  {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    // border: 3px solid black;

    .point
    {
      position: absolute;
      top: -5px;
      left: -5px;
      width: 30px;
      height: 30px;
      border-radius: 20px;
      background: gold;
      box-shadow: 0 0 8px #000;
    }

    input
    {
      border: 1px solid black;
      border-radius: 3px;
    }

    textarea
    {
      border: 1px solid black;
      border-radius: 3px;
    }

    label
    {
      font-weight: bold;
      color: #fff;
      background-color: transparent;
    }
  }

  .listButton
  {
    background: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5px;
    width: 60px;
    height: 25px;
    margin: 0 0 0 125px;
    cursor: pointer;

    &:hover
    {
      border: 2px solid #000;
      background: rgb(175, 175, 175);
    }
  }

  .addTask
  {
    background: #929292;
  
    input, textarea
    {
      border: 1px #000000 solid;
      border-radius: 0;
      font-size: 16px;
      margin-left: 10px;
      margin-bottom: 5px;
      margin-top: 5px;
      cursor: text;
      display: block;
    }
    
    label
    {
        font-size: 18px;
        margin-left: 10px;
        color: #000;
        font-weight: normal;
    }
    
    p
    {
        display: inline;
    }
    
    .box
    {
      margin: 20px 0 0px 20px;
      border-radius: 20px;
      width: 300px;
      height: 225px;
      background: none;
    }
  }

   .todo
   {
     // background: #ca4444;
     background: rgb(25,25,25);
  
     .point
     {
       
       background: rgb(139, 27, 7);
     }
  
     li
     {
       // background: #9c1f1f;
       background: #3b3b3b;
     }
     
     button
     {
       margin: 20px 0 10px 120px;
       // background: #ce0000;
      }

   }

   .doing
   {
     // background: #e9e756;
     background: rgb(25,25,25);
  
     .point
     {
       
       background: rgb(0, 76, 218);
     }
  
     li
     {
       // background: #c5ba25;
       background: #3b3b3b;
     }
     
     button
     {
       margin: 20px 0 10px 120px;
       // background: #cbce00;
     }
   }
   
   .done
   {
     // background: #1fb659;
     background: rgb(25,25,25);
   
     .point
     {
       
       background: rgb(8, 136, 47);
     }
     
     li
     {
       // background: #1f9c29;
       background: #3b3b3b;
     }
     
     button
     {
       margin: 20px 0 10px 120px;
       // background: #008516;
     }
  }
   
}